<nav class="bg-white shadow p-4 mb-8">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="font-bold text-lg">Triple Helix Creative, LLC</a>
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:underline">Home</a></li>
      <li><a href="/blog/" class="font-semibold text-blue-700 hover:underline">Blog</a></li>
      <li><a href="#" class="hover:underline">About</a></li>
      <li><a href="#" class="hover:underline">Contact</a></li>
    </ul>
  </div>
</nav>
